In [5]:
import requests 
import pandas as pd
import numpy as np
from numpy.ma.core import true_divide
import matplotlib as mpl
import matplotlib.pyplot as plt

In [1]:
def stocks(ticker=True):
  url = 'https://www.alphavantage.co/query?function=TIME_SERIES_MONTHLY_ADJUSTED&symbol='+ticker+'&apikey=0TOJPG6CWZ8MLZ5E'
  r = requests.get(url)
  data = r.json()
  stock = pd.DataFrame.from_dict(data['Monthly Adjusted Time Series'], orient='index')
  stock.reset_index(inplace=True)
  stock.rename(columns={'1. open': 'Open','2. high': 'high','3. low': 'Low', '4. close': 'Close', '5. adjusted close': 'Adjusted Close', '6. volume': 'Volume', '7. dividend amount': 'Dividend Amount', 'index': 'Date'},inplace=True)
  stock['ticker']=ticker
  return stock

In [3]:
stocks(ticker='IBM')

,Date,Open,high,Low,Close,Adjusted Close,Volume,Dividend Amount,ticker
0,2022-05-02,133.0000,133.7700,130.8900,133.0400,133.0400,4195349,0.0000,IBM
1,2022-04-29,129.6600,141.8800,124.9100,132.2100,132.2100,107525264,0.0000,IBM
2,2022-03-31,122.6700,133.0800,120.7000,130.0200,130.0200,96447210,0.0000,IBM
3,2022-02-28,133.7600,138.8200,118.8100,122.5100,122.5100,98492968,1.6400,IBM
4,2022-01-31,134.0700,142.2000,124.1930,133.5700,131.9493,147238382,0.0000,IBM
...,...,...,...,...,...,...,...,...,...
265,2000-04-28,120.0000,128.0000,101.2500,111.5000,63.8867,168464800,0.0000,IBM
266,2000-03-31,102.0000,128.2500,99.5000,118.3700,67.8230,194329000,0.0000,IBM
267,2000-02-29,112.3700,119.7500,100.9400,102.7500,58.8732,133524400,0.1200,IBM
268,2000-01-31,112.4400,124.7500,109.6200,112.2500,64.2515,175259600,0.0000,IBM
269,1999-12-31,102.5600,122.1200,102.2500,107.8700,61.7444,158626300,0.0000,IBM

TypeError: ignored